body{
	background-color:#A80000;
	background-image:url("Ripe-Organic-Capsicum-Green.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:bottom right;
}
h1{
	background-color:#C00000;
}
p{
	background-color:#E00000;
}

	